.App {
  text-align: center;
  height: 100vh;
  padding-top: 100px;
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/videoblocks-table-at-restaurant-blurred-background_rxfpdeul6l_thumbnail-full01.png");
}

.calc {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5)
}
.form-control {
  width: 400px;
  margin: 0 auto;
  display: inline-block;
}